%table.table
  %tbody
    %tr
      %th User
      %td= thing.user
    %tr
      %th Title
      %td= thing.title
    %tr
      %th Description
      %td= thing.description
    %tr
      %th Approved
      %td= thing.approved
