<h1><%= @page_title %></h1>

See the code: 
<%= link_to 'app/datatables/users_datatable.rb', 'https://github.com/code-and-effect/effective_datatables_demo/blob/master/app/datatables/users_datatable.rb', target: '_blank' %>

<%= render_datatable(@datatable) %>